body {
    overflow: hidden;
    background-image: url('../img/ep_naturalblack.png');
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 10px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding: 10px;

}
.page-scroll {
  color: #dadada;
  font-size: 17px;
}


.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

#tagline {
    margin-left: 130px;
    font-size: 350%;
    font-style: italic;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.1);
}

.clk {
    /*font-size: 60px;*/
    font-size: 200%;
    font-weight: lighter !important;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}

.clk1 {
    /*font-size: 65px;*/
    font-size: 220%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder !important;
}

.logo {
    font-size: 180%;
    height: 60px;
    width : 60px;
    font-family: 'Tangerine', sans-serif;
    border-radius: 50%;
    /*color: #ffdb34;
    -webkit-box-shadow: 2px 0px 2px 1px rgba(255, 219, 52, 1);
    -moz-box-shadow: 2px 0px 2px 1px rgba(255, 219, 52, 1);
    box-shadow: 2px 0px 2px 1px rgba(255, 219, 52, 1);*/
    color: white;
    -webkit-box-shadow: 2px 0px 2px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 2px 0px 2px 1px rgba(255, 255, 255, 1);
    box-shadow: 2px 0px 2px 1px rgba(255, 255, 255, 1);
}
.navbar-default .navbar-brand {
  /*color: #0460d9;*/
  color: #fff;
}
#headline {
    padding-bottom: 20px;
    padding-top: 35px;
}

#social {
    padding-bottom: 40px;
}

#social>div {
    border-right: 1px solid rgb(11, 126, 162);
}

#social>div>.btn {
    font-size: 120%;
}

#social>div:last-child {
    border-right: none;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.footer {
    position: relative;
    bottom: -100px;
}
